.list-item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.list-item:hover {
  background: #eee;
}

.answer-title {
  color: rgba(0, 0, 0, 0.84);
  font-size: 24px;
  font-weight: 600;
}

.list-item__subtitle {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  margin-top: 2px;
}

.tags {
  margin-top: 12px;
}

.list-item__date {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  margin-top: 12px;
}

.url {
  color: #689f38;
  font-size: 16px;
  margin-top: 15px;
}

.answer-image {
  margin-left: 20px;
  width: 80px;
}

@media screen and (max-width: 768px) {
  .answer-title {
    font-size: 18px;
  }
}

.highlight {
  color: #039be5;
  font-weight: bold;
}