.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.home-image-section {
  align-items: center;
  background-image: url('/images/bible-home.png');
  background-position: center;
  color: #fff;
  display: flex;
  font-size: 30px;
  font-style: italic;
  height: 100px;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
}

.home-features {
  color: #039BE5;
  display: flex;
  font-size: 40px;
  justify-content: center;
  text-align: center;
  width: 250px;
}

.home-feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-icon {
  align-items: center;
  display: flex;
}

.home-plus {
  margin: 0 15px;
}

.home-feature-name {
  margin-top: 15px;
}

.empty-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.empty-clear {
  color: #689f38;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.home-options {
  display: flex;
  justify-content: center;
}

